@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'services';
@import 'project';
@import 'news';
@import 'article';
@import 'footer';

.header {
    background-color: $accent;
    z-index: 45;

    &__inner {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    .nav-menu {
        font-size: 20px;
        max-height: 0;
        overflow: hidden;
        text-transform: uppercase;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        right: 0;
        left: 0;
        margin-top: 20px;
        z-index: 45;
    }
    .nav-menu li{
        padding: 5px;
        margin: 20px 0;
        color: $accent;
        &:hover{
            transition: all .5s ease;
            color: rgba($accent, .5);
            text-decoration: overline;
        }
    }
    #checkbox_toggle{
        display: none;
    }
#checkbox_toggle:checked ~.nav-menu{
    display: block;
    max-height: 100%;
    transition: all .5s ease-in-out;
}

#checkbox_toggle:checked ~ .hamburger .hamburger-line{
    background-color: transparent;
    &::before{
        transform: rotate(-45deg);
        top: 0;
    }
    &::after{
        transform: rotate(45deg);
        top: 0;
    }
}
    .hamburger{
        cursor: pointer;
        font-size: 24px;
        display: block;
        padding: 20px 10px;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 1);
        &-line{
            background-color: $accent;
            display: block;
            height: 2px;
            position: relative;
            width: 24px;
            &::after,&::before{
                background-color: $accent;
                content: "";
                display: block;
                position: absolute;
                transition: all .7s ease;
                width: 100%;
                height: 100%;
            }
            &::after{
                top: -7px;
            }
            &::before{
                top: 7px;
            }
        }
    }
}

.logo_link {
    margin-left: 8px;
}

.head {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
}

.top-slider {
    background: rgba(33, 33, 33, 0.5);

    &__item {
        color: #fff;
        text-align: center;
        min-height: 193px;
    }

    &__title {
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 28px;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 36px 0 28px;
        max-width: 243px;
        margin: 0 auto;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 8px;
            background-color: $text-color;
            width: 61px;
            margin: 0 auto;
        }
    }

    &__text {
        display: none;
    }

    &__btn {
        display: none;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;

        .slick-active {
            button {
                background-color: transparent;
                border: 1px solid $text-color;
            }
        }

        button {
            font-size: 0;
            border: none;
            background-color: $accent;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}

.call {
    background-color: $accent;
    padding: 40px 0;
    color: #fff;
    text-align: center;

    &__title {

        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    &__text {
        @extend %dosis-300;
        margin-bottom: 40px;
    }

    &__btn {
        padding: 16px 15px;
        background-color: $bg-color;
        color: $accent;
        font-size: 18px;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
}

.up {
    width: 100%;
    height: 142px;
    text-align: center;
    margin: 0 auto;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span{
        font-size: 16px;
    }

    a {
        font-size: 18px;
        margin: 20px 0;
        &:hover {
            color: $accent;
        }
    }
}

@import 'mobile-640';
@import 'mobile-768';
@import 'mobile-1024';
@import 'mobile-1440';